body {
    background-color: var(--background-color);
}
.title-text {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--font-color);
    margin: 3rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 18rem 18rem;
    width: 36%;
    margin: auto;
    padding: 0rem 10rem;
}
.card-1 {
    border: 1px solid white;
    width: 16rem;
    height: 20rem;
    color: var(--font-color);
    border-radius: 1.35rem;
}
.poster-1 {
    width: 16rem;
    height: 11rem;
    border-radius: 1rem;
}
.img-label {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.9rem 0.7rem;
}
.subtext {
    font-size: 0.9rem;
    margin: 0.5rem 0.7rem;
}
.point {
    margin: 0.7rem 0.7rem;
    color: var(--pointer-color);
}
.card-2 {
    width: 16rem;
    height: 20rem;
    color: var(--font-color);
    border-radius: 1.35rem;
    border: 1px solid white;
}
.card {
    text-decoration: none;
    color: var(--font-color);
}
.link {
    text-decoration: none;
    color: white;
}
