.navbar {
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: var(--background-color);
}
.navContainer {
  padding: 0rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.left {
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
}
.search {
  width: 40vw;
  height: 2rem;
  border: 0.5px solid white;
  color: var(--font-color);
  border-radius: 5px;
  background-color: #192938;
}
img {
  height: 3rem;
  margin-right: 3rem;
}
.right {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login {
  color: var(--font-color);
}
.icon {
  margin-left: 2rem;
}
.link {
  text-decoration: none;
}
