/* body {
    background-color: var(--background-color);
} */
.question-container {
    width: 40rem;
    height: 30rem;
    color: var(--font-color);
    margin: auto;
    padding: 1rem;
}
.title-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.question-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
.question-number,
.question-score {
    color: var(--pointer-color);
}
.question {
    font-size: 1.2rem;
    line-height: 1.75rem;
    padding-bottom: 1.4rem;
    margin-top: 1rem;
}
.options-btn {
    display: flex;
    flex-direction: column;
}
.options {
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.answer {
    text-decoration: none;
    color: var(--font-color);
}
.question-submit {
    position: relative;
    right: -32rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--button-color);
    color: white;
}
.question-submit:hover {
    background-color: var(--hover-color);
}
.link {
    text-decoration: none;
    color: white;
    padding: 0rem;
}
.options:focus {
    background-color: var(--success-color);
    border: none;
}
