body {
  background-color: var(--background-color);
}
.footer {
  width: 100%;
  height: 14vh;
  overflow: hidden;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  padding-top: 1rem;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  padding: 1rem;
  color: black;
}
