.loginUser {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
}
.logoImg {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}
img {
    height: 3rem;
    margin-right: 4rem;
}
.sign-up-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.sign-up-form {
    border: 1px solid white;
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}
.sign-up-title {
    display: flex;
    justify-content: center;
}
.input-sign-up {
    height: 3rem;
    border-radius: 5px;
    font-size: 16px;
}
.sign-up-button {
    padding: 1rem 2rem;
    border-radius: 5px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--button-color);
}
span {
    cursor: pointer;
    font-size: 18px;
}
.link {
    text-decoration: none;
    color: white;
    padding: 0rem;
}
