:root {
    --button-color: #da7d13;
    --Primary-color: #fff;
    --hover-color: #ffaa65;
    --background-color: #19212c;
    --font-color: #f7f7f7;
    --pointer-color: #888;
    --dark-color: #171a1f;
    --error-color: #af1616;
    --success-color: #007953;
}
